@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red1: #e91919; /* Using the chosen red accent color */
  --grey1: #f7f7f7; /* Light gray */
  --grey2: #e5e5e5; /* Light gray for borders */
  --grey3: #333333; /* Dark gray for text */
}

* {
  box-sizing: border-box;
}

body {
  @apply m-0 p-0 h-screen bg-gray-100 font-sans;
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header .navbar-brand {
  @apply text-3xl font-bold tracking-tight;
  font-family: 'Montserrat', sans-serif;
}

header .navbar-brand span {
  @apply text-red-600 font-extrabold;
}

/* Main Section */
main {
  @apply my-[15vh] mx-auto;
}

/* Index Intro Section */
.index-intro {
  @apply flex items-center justify-around flex-wrap gap-12;
}

.index-intro div {
  @apply max-w-[30%] min-w-[300px];
}

.cv-route-block {
  @apply relative;
}

.cv-route-block ul {
  @apply list-none p-0 flex flex-col gap-24;
}

.cv-route-block li {
  @apply flex items-center gap-2;
}

.cv-route-block li span {
  @apply inline-block w-12 h-12 rounded-full bg-gray-300 text-center leading-[40px] font-bold;
}

.cv-route-block .active-span span {
  @apply bg-red-600 text-white;
}

.cv-route-block .done-span span {
  @apply bg-gray-600 text-white;
}

.cv-route-block:before {
  content: '';
  @apply absolute h-[calc(100%-22px)] border-l-2 border-dotted border-gray-400 z-[-1] left-[23px];
}

.index-intro h2 {
  @apply text-5xl;
}

/* Footer */
footer {
  @apply text-center text-gray-500 text-sm;
}

